.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,4vw);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap:30px;
    row-gap:50px;
}
food-item-image-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}